<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CreateCliente</servlet-name>
        <servlet-class>Servlets_Create.CreateCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateConsumo</servlet-name>
        <servlet-class>Servlets_Create.CreateConsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProduto</servlet-name>
        <servlet-class>Servlets_Create.CreateProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuarto</servlet-name>
        <servlet-class>Servlets_Create.CreaterQuarto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateReserva</servlet-name>
        <servlet-class>Servlets_Create.CreateReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUsuario</servlet-name>
        <servlet-class>Servlets_Create.CreateUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCliente</servlet-name>
        <servlet-class>Servlets_Delete.DeleteCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteConsumo</servlet-name>
        <servlet-class>Servlets_Delete.DeleteConsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduto</servlet-name>
        <servlet-class>Servlets_Delete.DeleteProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuarto</servlet-name>
        <servlet-class>Servlets_Delete.DeleteQuarto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUsuario</servlet-name>
        <servlet-class>Servlets_Delete.DeleteUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReserva</servlet-name>
        <servlet-class>Servlets_Delete.DeleteReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCliente</servlet-name>
        <servlet-class>Servlets_Search.SearchCheckOut_has_Item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchConsumo</servlet-name>
        <servlet-class>Servlets_Search.SearchConsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProduto</servlet-name>
        <servlet-class>Servlets_Search.SearchProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchQuarto</servlet-name>
        <servlet-class>Servlets_Search.SearchQuarto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchReserva</servlet-name>
        <servlet-class>Servlets_Search.SearchReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCliente</servlet-name>
        <servlet-class>Servlets_Update.UpdateCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateConsumo</servlet-name>
        <servlet-class>Servlets_Update.UpdateConsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduto</servlet-name>
        <servlet-class>Servlets_Update.UpdateProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuarto</servlet-name>
        <servlet-class>Servlets_Update.UpdateQuarto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateReserva</servlet-name>
        <servlet-class>Servlets_Update.UpdateCheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUsuario</servlet-name>
        <servlet-class>Servlets_Update.UpdateUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCliente</servlet-name>
        <url-pattern>/CreateCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateConsumo</servlet-name>
        <url-pattern>/CreateConsumo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProduto</servlet-name>
        <url-pattern>/CreateProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuarto</servlet-name>
        <url-pattern>/CreateQuarto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateReserva</servlet-name>
        <url-pattern>/CreateReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUsuario</servlet-name>
        <url-pattern>/CreateUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCliente</servlet-name>
        <url-pattern>/DeleteCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteConsumo</servlet-name>
        <url-pattern>/DeleteConsumo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduto</servlet-name>
        <url-pattern>/DeleteProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuarto</servlet-name>
        <url-pattern>/DeleteQuarto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUsuario</servlet-name>
        <url-pattern>/DeleteUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReserva</servlet-name>
        <url-pattern>/DeleteReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCliente</servlet-name>
        <url-pattern>/SearchCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchConsumo</servlet-name>
        <url-pattern>/SearchConsumo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProduto</servlet-name>
        <url-pattern>/SearchProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchQuarto</servlet-name>
        <url-pattern>/SearchQuarto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchReserva</servlet-name>
        <url-pattern>/SearchReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCliente</servlet-name>
        <url-pattern>/UpdateCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateConsumo</servlet-name>
        <url-pattern>/UpdateConsumo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduto</servlet-name>
        <url-pattern>/UpdateProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuarto</servlet-name>
        <url-pattern>/UpdateQuarto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateReserva</servlet-name>
        <url-pattern>/UpdateReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUsuario</servlet-name>
        <url-pattern>/UpdateUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
                30
            </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index_default.html</welcome-file>
    </welcome-file-list>
</web-app>
