<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CadastraCliente</servlet-name>
        <servlet-class>Servlets_Create.CadastraCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastraConsumo</servlet-name>
        <servlet-class>Servlets_Create.CadastraConsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastraProduto</servlet-name>
        <servlet-class>Servlets_Create.CadastraProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastraQuarto</servlet-name>
        <servlet-class>Servlets_Create.CadastrarQuarto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastraReserva</servlet-name>
        <servlet-class>Servlets_Create.CadastraReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastraUsuario</servlet-name>
        <servlet-class>Servlets_Create.CadastraUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverCliente</servlet-name>
        <servlet-class>Servlets_Delete.RemoverCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverConsumo</servlet-name>
        <servlet-class>Servlets_Delete.RemoverConsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverProduto</servlet-name>
        <servlet-class>Servlets_Delete.RemoverProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverQuarto</servlet-name>
        <servlet-class>Servlets_Delete.RemoverQuarto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverUsuario</servlet-name>
        <servlet-class>Servlets_Delete.RemoverUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverReserva</servlet-name>
        <servlet-class>Servlets_Delete.RemoverReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcurarCliente</servlet-name>
        <servlet-class>Servlets_Search.ProcurarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcurarConsumo</servlet-name>
        <servlet-class>Servlets_Search.ProcurarConsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcurarProduto</servlet-name>
        <servlet-class>Servlets_Search.ProcurarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcurarQuarto</servlet-name>
        <servlet-class>Servlets_Search.ProcurarQuarto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcurarReserva</servlet-name>
        <servlet-class>Servlets_Search.ProcurarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizaCliente</servlet-name>
        <servlet-class>Servlets_Update.AtualizaCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizaConsumo</servlet-name>
        <servlet-class>Servlets_Update.AtualizaConsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizaProduto</servlet-name>
        <servlet-class>Servlets_Update.AtualizaProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizaQuarto</servlet-name>
        <servlet-class>Servlets_Update.AtualizaQuarto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizaReserva</servlet-name>
        <servlet-class>Servlets_Update.AtualizaReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizaUsuario</servlet-name>
        <servlet-class>Servlets_Update.AtualizaUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastraCliente</servlet-name>
        <url-pattern>/CadastraCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastraConsumo</servlet-name>
        <url-pattern>/CadastraConsumo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastraProduto</servlet-name>
        <url-pattern>/CadastraProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastraQuarto</servlet-name>
        <url-pattern>/CadastraQuarto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastraReserva</servlet-name>
        <url-pattern>/CadastraReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastraUsuario</servlet-name>
        <url-pattern>/CadastraUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverCliente</servlet-name>
        <url-pattern>/RemoverCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverConsumo</servlet-name>
        <url-pattern>/RemoverConsumo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverProduto</servlet-name>
        <url-pattern>/RemoverProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverQuarto</servlet-name>
        <url-pattern>/RemoverQuarto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverUsuario</servlet-name>
        <url-pattern>/RemoverUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverReserva</servlet-name>
        <url-pattern>/RemoverReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcurarCliente</servlet-name>
        <url-pattern>/ProcurarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcurarConsumo</servlet-name>
        <url-pattern>/ProcurarConsumo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcurarProduto</servlet-name>
        <url-pattern>/ProcurarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcurarQuarto</servlet-name>
        <url-pattern>/ProcurarQuarto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcurarReserva</servlet-name>
        <url-pattern>/ProcurarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizaCliente</servlet-name>
        <url-pattern>/AtualizaCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizaConsumo</servlet-name>
        <url-pattern>/AtualizaConsumo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizaProduto</servlet-name>
        <url-pattern>/AtualizaProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizaQuarto</servlet-name>
        <url-pattern>/AtualizaQuarto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizaReserva</servlet-name>
        <url-pattern>/AtualizaReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizaUsuario</servlet-name>
        <url-pattern>/AtualizaUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
                30
            </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index_default.html</welcome-file>
    </welcome-file-list>
</web-app>
